	<script src="//asmithdigital.github.io/rev-slider/revolution/js/jquery.themepunch.tools.min.js"></script>
  <script src="//asmithdigital.github.io/rev-slider/revolution/js/jquery.themepunch.revolution.min.js"></script>

  <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->	
  {{!-- <script src="//asmithdigital.github.io/rev-slider/revolution/js/extensions/revolution.extension.actions.min.js"></script>
  <script src="//asmithdigital.github.io/rev-slider/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
  <script src="//asmithdigital.github.io/rev-slider/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
  <script src="//asmithdigital.github.io/rev-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
  <script src="//asmithdigital.github.io/rev-slider/revolution/js/extensions/revolution.extension.migration.min.js"></script>
  <script src="//asmithdigital.github.io/rev-slider/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
  <script src="//asmithdigital.github.io/rev-slider/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
  <script src="//asmithdigital.github.io/rev-slider/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
  <script src="//asmithdigital.github.io/rev-slider/revolution/js/extensions/revolution.extension.video.min.js"></script> --}}

	{{#if slider-revealer}}
	<script type='text/javascript' src='//asmithdigital.github.io/rev-slider/revolution-addons/reveal/js/revolution.addon.revealer.min.js?ver=1.0.0'></script>
	<script type='text/javascript' src='//asmithdigital.github.io/rev-slider/revolution-addons/particles/js/revolution.addon.particles.min.js?ver=1.0.3'></script>
	{{/if}}

	{{#if countdown}}
	<script type='text/javascript' src='//asmithdigital.github.io/rev-slider/revolution-addons/typewriter/js/revolution.addon.typewriter.min.js'></script>
	{{!-- <script type='text/javascript' src='//asmithdigital.github.io/rev-slider/revolution-addons/countdown/revolution.addon.countdown.min.js'></script> --}}
			
	{{/if}}

  <script>
		jQuery(document).ready(function () {
    {{#if slider-main}}
      var sliderMain = jQuery('#rev_slider_main').show().revolution({
        {{#unless standard-height}}sliderLayout: 'fullscreen',
				fullScreenOffsetContainer: '#ua-header-menu',{{/unless}}
        jsFileLocation: '',
        spinner: "spinner4",
        delay: 9000,
        navigation: {
          keyboardNavigation: 'on',
          keyboard_direction: 'horizontal',
          onHoverStop: 'on',
          arrows: {
            {{#unless no-slide-controls}}enable: true,{{/unless}}
            style: "uranus",
            hide_onleave: true,
            hide_onmobile: true,
            hide_delay: 200
          },
          bullets: {
            {{#unless no-slide-controls}}enable: true,{{/unless}}
            style: "hebe",
            tmp: '<span class="tp-bullet-image"></span>',
            hide_onleave: true,
            hide_onmobile: true,
            hide_delay: 200,
            h_align: "center",
            v_align: "bottom",
            h_offset: 0,
            v_offset: 20,
            space: 5
          },
          touch: {
            touchenabled: 'on',
            swipe_threshold: 75,
            swipe_min_touches: 1,
            swipe_direction: 'horizontal',
            drag_block_vertical: true
          }
        },
        viewPort: {
          enable: true,
          outof: "wait",
          visible_area: "80%",
          presize: true
        },
        responsiveLevels: [1240, 1024, 778, 480],
        visibilityLevels: [1240, 1024, 778, 480],
        gridwidth: [1240, 1024, 778, 480],
        gridheight: [700, 700, 500, 400],
        lazyType: "smart",
        parallax: {
          type: 'scroll',
          origo:"slidercenter",
          speed:400,
          levels: [5,10,15,20,25,30,35,40,45,46,47,48,49,50,51,55],
        }
      });

			{{#if countdown}}
			{{!-- var moment = moment("1995-12-25"); --}}
			{{!-- console.log(moment); --}}
			var deadline = new Date().getTime() + 1566088200;
			{{!-- var deadline = new Date('Monday, July 1, 2019 2:22:37 AM GMT+09:30'); --}}
			{{!-- var newDate = deadline.getTime(); --}}

			{{!-- console.log(currentDate, newDate); --}}
		
			{{!-- var targetdate =  new Date().getTime() + ??? --}}
				    {{!-- slidechanges = [
				                    { days:0, hours:0, minutes:0, seconds:12, slide:2},
				                    { days:0, hours:0, minutes:0, seconds:0, slide:3}
				                    ]; --}}

														// countdown.js jQuery Engine MADE BY HILIOS
// https://github.com/hilios/jQuery.countdown

!function(t){"use strict";"function"==typeof define&&define.amd?define(["jquery"],t):t(jQuery)}(function(t){"use strict";function e(t){if(t instanceof Date)return t;if(String(t).match(o))return String(t).match(/^[0-9]*$/)&&(t=Number(t)),String(t).match(/\-/)&&(t=String(t).replace(/\-/g,"/")),new Date(t);throw new Error("Couldn't cast `"+t+"` to a date object.")}function s(t){var e=t.toString().replace(/([.?*+^$[\]\\(){}|-])/g,"\\$1");return new RegExp(e)}function n(t){return function(e){var n=e.match(/%(-|!)?[A-Z]{1}(:[^;]+;)?/gi);if(n)for(var a=0,o=n.length;o>a;++a){var r=n[a].match(/%(-|!)?([a-zA-Z]{1})(:[^;]+;)?/),l=s(r[0]),c=r[1]||"",u=r[3]||"",f=null;r=r[2],h.hasOwnProperty(r)&&(f=h[r],f=Number(t[f])),null!==f&&("!"===c&&(f=i(u,f)),""===c&&10>f&&(f="0"+f.toString()),e=e.replace(l,f.toString()))}return e=e.replace(/%%/,"%")}}function i(t,e){var s="s",n="";return t&&(t=t.replace(/(:|;|\s)/gi,"").split(/\,/),1===t.length?s=t[0]:(n=t[0],s=t[1])),1===Math.abs(e)?n:s}var a=[],o=[],r={precision:100,elapse:!1};o.push(/^[0-9]*$/.source),o.push(/([0-9]{1,2}\/){2}[0-9]{4}( [0-9]{1,2}(:[0-9]{2}){2})?/.source),o.push(/[0-9]{4}([\/\-][0-9]{1,2}){2}( [0-9]{1,2}(:[0-9]{2}){2})?/.source),o=new RegExp(o.join("|"));var h={Y:"years",m:"months",n:"daysToMonth",w:"weeks",d:"daysToWeek",D:"totalDays",H:"hours",M:"minutes",S:"seconds"},l=function(e,s,n){this.el=e,this.$el=t(e),this.interval=null,this.offset={},this.options=t.extend({},r),this.instanceNumber=a.length,a.push(this),this.$el.data("countdown-instance",this.instanceNumber),n&&("function"==typeof n?(this.$el.on("update.countdown",n),this.$el.on("stoped.countdown",n),this.$el.on("finish.countdown",n)):this.options=t.extend({},r,n)),this.setFinalDate(s),this.start()};t.extend(l.prototype,{start:function(){null!==this.interval&&clearInterval(this.interval);var t=this;this.update(),this.interval=setInterval(function(){t.update.call(t)},this.options.precision)},stop:function(){clearInterval(this.interval),this.interval=null,this.dispatchEvent("stoped")},toggle:function(){this.interval?this.stop():this.start()},pause:function(){this.stop()},resume:function(){this.start()},remove:function(){this.stop.call(this),a[this.instanceNumber]=null,delete this.$el.data().countdownInstance},setFinalDate:function(t){this.finalDate=e(t)},update:function(){if(0===this.$el.closest("html").length)return void this.remove();var e,s=void 0!==t._data(this.el,"events"),n=new Date;e=this.finalDate.getTime()-n.getTime(),e=Math.ceil(e/1e3),e=!this.options.elapse&&0>e?0:Math.abs(e),this.totalSecsLeft!==e&&s&&(this.totalSecsLeft=e,this.elapsed=n>=this.finalDate,this.offset={seconds:this.totalSecsLeft%60,minutes:Math.floor(this.totalSecsLeft/60)%60,hours:Math.floor(this.totalSecsLeft/60/60)%24,days:Math.floor(this.totalSecsLeft/60/60/24)%7,daysToWeek:Math.floor(this.totalSecsLeft/60/60/24)%7,daysToMonth:Math.floor(this.totalSecsLeft/60/60/24%30.4368),totalDays:Math.floor(this.totalSecsLeft/60/60/24),weeks:Math.floor(this.totalSecsLeft/60/60/24/7),months:Math.floor(this.totalSecsLeft/60/60/24/30.4368),years:Math.abs(this.finalDate.getFullYear()-n.getFullYear())},this.options.elapse||0!==this.totalSecsLeft?this.dispatchEvent("update"):(this.stop(),this.dispatchEvent("finish")))},dispatchEvent:function(e){var s=t.Event(e+".countdown");s.finalDate=this.finalDate,s.elapsed=this.elapsed,s.offset=t.extend({},this.offset),s.strftime=n(this.offset),this.$el.trigger(s)}}),t.fn.countdown=function(){var e=Array.prototype.slice.call(arguments,0);return this.each(function(){var s=t(this).data("countdown-instance");if(void 0!==s){var n=a[s],i=e[0];l.prototype.hasOwnProperty(i)?n[i].apply(n,e.slice(1)):null===String(i).match(/^[$A-Z_][0-9A-Z_$]*$/i)?(n.setFinalDate.call(n,i),n.start()):t.error("Method %s does not exist on jQuery.countdown".replace(/\%s/gi,i))}else new l(this,e[0],e[1])})}});


var currentd,currenth,currentm,currents;

function animateAndUpdate(o,nt,ot) {
   if (ot==undefined) {    
     o.html(nt);
   } else {      
      if (o.css("opacity")>0) {
      punchgs.TweenLite.fromTo(o,0.45,
  		{autoAlpha:1,rotationY:0,scale:1},
  		{autoAlpha:0,rotationY:-180,scale:0.5,ease:punchgs.Back.easeIn,onComplete:function() { o.html(nt);} });

  punchgs.TweenLite.fromTo(o,0.45,
  		{autoAlpha:0,rotationY:180,scale:0.5},
  		{autoAlpha:1,rotationY:0,scale:1,ease:punchgs.Back.easeOut,delay:0.5 });
      } else {
         o.html(nt);
      }
   }
  return nt;
}

function countprocess(event) {

  var newd = event.strftime('%D'),
      newh = event.strftime('%H'),
      newm = event.strftime('%M'),
      news = event.strftime('%S');
  if (newd != currentd) currentd = animateAndUpdate(jQuery('#c_days'),newd,currentd);
  if (newh != currenth) currenth = animateAndUpdate(jQuery('#c_hours'),newh,currenth);
  if (newm != currentm) currentm = animateAndUpdate(jQuery('#c_minutes'),newm,currentm);
  if (news != currents) currents = animateAndUpdate(jQuery('#c_seconds'),news,currents);

  jQuery.each(slidechanges,function(i,obj) {
    var dr = obj.days==undefined || obj.days>=newd,
        hr = obj.hours==undefined || obj.hours>=newh,
        mr = obj.minutes==undefined || obj.minutes>=newm,
        sr = obj.seconds==undefined || obj.seconds>=news;
      if (dr && hr && mr && sr && !obj.changedown) {
         api.revshowslide(obj.slide);
         obj.changedown = true;
      }
  })
}

jQuery('#skipahead').click(function(){
  var smalloffset = new Date().getTime() + quickjump;
 sliderMain.countdown(smalloffset,countprocess);
});

sliderMain.countdown(deadline, countprocess);				


			{{!-- tp_countdown(sliderMain,newDate);        --}}
			RsTypewriterAddOn(jQuery, sliderMain);
			{{/if}}

    {{/if}}
		
		{{#if slider-alternative}}
      var sliderServices = jQuery("#rev_slider_services").show().revolution({
						sliderType:"standard",
            jsFileLocation:"",
						sliderLayout:"fullwidth",
						dottedOverlay:"none",
						delay:9000,
						navigation: {
							onHoverStop:"off",
						},
						viewPort: {
							enable:true,
							outof:"wait",
							visible_area:"80%",
							presize:false
						},
						responsiveLevels:[1240,1024,778,480],
						visibilityLevels:[1240,1024,778,480],
						gridwidth:[1240,1024,778,480],
						gridheight:[360,360,1080,1080],
						lazyType:"none",
						shadow:0,
						spinner:"off",
						stopLoop:"on",
						stopAfterLoops:0,
						stopAtSlide:1,
						shuffle:"off",
						autoHeight:"off",
						disableProgressBar:"on",
						hideThumbsOnMobile:"off",
						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						debugMode:false,
						fallbacks: {
							simplifyAll:"off",
							nextSlideOnWindowFocus:"off",
							disableFocusListener:false,
						}
					});

          var sliderMedia = jQuery("#rev_slider_media").show().revolution({
						sliderType:"carousel",
            jsFileLocation:"",
						sliderLayout:"fullwidth",
						dottedOverlay:"none",
						delay:9000,
						navigation: {
							keyboardNavigation:"off",
							keyboard_direction: "horizontal",
							mouseScrollNavigation:"off",
 							mouseScrollReverse:"default",
							onHoverStop:"off",
							touch:{
								touchenabled:"on",
								swipe_threshold: 75,
								swipe_min_touches: 1,
								swipe_direction: "horizontal",
								drag_block_vertical: false
							}
							,
							arrows: {
								style:"gyges",
								enable:true,
								hide_onmobile:false,
								hide_onleave:false,
								tmp:'',
								left: {
									h_align:"left",
									v_align:"center",
									h_offset:20,
									v_offset:0
								},
								right: {
									h_align:"right",
									v_align:"center",
									h_offset:20,
									v_offset:0
								}
							}
							,
							tabs: {
								style:"gyges",
								enable:true,
								width:250,
								height:80,
								min_width:250,
								wrapper_padding:30,
								wrapper_color:"#26292b",
								wrapper_opacity:"1",
								tmp:'<div class="tp-tab-content">  <span class="tp-tab-date">\{{param1}}</span>  <span class="tp-tab-title">\{{title}}</span></div><div class="tp-tab-image"></div>',
								visibleAmount: 5,
								hide_onmobile: false,
								hide_onleave:false,
								hide_delay:200,
								direction:"horizontal",
								span:true,
								position:"outer-bottom",
								space:0,
								h_align:"center",
								v_align:"bottom",
								h_offset:0,
								v_offset:0
							}
						},
						carousel: {
							horizontal_align: "center",
							vertical_align: "center",
							fadeout: "on",
							vary_fade: "on",
							maxVisibleItems: 3,
							infinity: "on",
							space: 0,
							stretch: "off"
						},
						visibilityLevels:[1240,1024,778,480],
						gridwidth:720,
						gridheight:405,
						lazyType:"none",
						shadow:0,
						spinner:"off",
						stopLoop:"on",
						stopAfterLoops:0,
						stopAtSlide:1,
						shuffle:"off",
						autoHeight:"off",
						disableProgressBar:"on",
						hideThumbsOnMobile:"off",
						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						debugMode:false,
						fallbacks: {
							simplifyAll:"off",
							nextSlideOnWindowFocus:"off",
							disableFocusListener:false,
						}
					});
       
          var sliderNewsVideo = jQuery("#rev_slider_news-video").show().revolution({
						sliderType:"hero",
            jsFileLocation:"",
						sliderLayout:"fullwidth",
						dottedOverlay:"none",
						delay:9000,
						navigation: {
						},
						viewPort: {
							enable:true,
							outof:"pause",
							visible_area:"80%",
							presize:false
						},
						responsiveLevels:[1240,1024,778,480],
						visibilityLevels:[1240,1024,778,480],
						gridwidth:[1240,1024,778,480],
						gridheight:[500,450,400,350],
						lazyType:"none",
						parallax: {
							type:"scroll",
							origo:"enterpoint",
							speed:400,
							levels:[5,10,15,20,25,30,35,40,45,50,46,47,48,49,50,55],
							type:"scroll",
						},
						shadow:0,
						spinner:"off",
						autoHeight:"off",
						disableProgressBar:"on",
						hideThumbsOnMobile:"off",
						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						debugMode:false,
						fallbacks: {
							simplifyAll:"off",
							disableFocusListener:false,
						}
					});
					{{/if}}


			 		{{#if slider-revealer}}
          var revealSlider = jQuery("#rev_slider_revealer").show().revolution({
						sliderType:"standard",
						jsFileLocation:"",
						sliderLayout:"fullscreen",
						dottedOverlay:"none",
						delay:9000,
						particles: {startSlide: "first", endSlide: "last", zIndex: "1",
							particles: {
								number: {value: 25}, color: {value: "#ffffff"},
								shape: {
									type: "circle", stroke: {width: 0, color: "#ffffff", opacity: 1},
									image: {src: ""}
								},
								opacity: {value: 1, random: true, min: 0.25, anim: {enable: true, speed: 3, opacity_min: 0, sync: false}},
								size: {value: 2, random: true, min: 0.5, anim: {enable: true, speed: 5, size_min: 1, sync: false}},
								line_linked: {enable: false, distance: 150, color: "#ffffff", opacity: 0.4, width: 1},
								move: {enable: true, speed: 2, direction: "none", random: true, min_speed: 1, straight: false, out_mode: "out"}},
							interactivity: {
								events: {onhover: {enable: false, mode: "bubble"}, onclick: {enable: false, mode: "repulse"}},
								modes: {grab: {distance: 400, line_linked: {opacity: 0.5}}, bubble: {distance: 400, size: 40, opacity: 0.5}, repulse: {distance: 200}}
							}
						},
						revealer: {
							direction: "open_horizontal",
							color: "#ffffff",
							duration: "1500",
							delay: "0",
							easing: "Power2.easeInOut",
							overlay_enabled: true,
							overlay_color: "#000000",
							overlay_duration: "1500",
							overlay_delay: "0",
							overlay_easing: "Power2.easeInOut",
							spinner: "1",
							spinnerColor: "#006dd2",
						},
						navigation: {
							keyboardNavigation:"off",
							keyboard_direction: "horizontal",
							mouseScrollNavigation:"off",
										mouseScrollReverse:"default",
							onHoverStop:"off",
							arrows: {
								style:"uranus",
								enable:true,
								hide_onmobile:false,
								hide_onleave:false,
								tmp:'',
								left: {
									h_align:"left",
									v_align:"center",
									h_offset:10,
									v_offset:0
								},
								right: {
									h_align:"right",
									v_align:"center",
									h_offset:10,
									v_offset:0
								}
							}
						},
						viewPort: {
							enable:true,
							outof:"wait",
							visible_area:"80%",
							presize:true
						},
						responsiveLevels:[1240,1024,778,480],
						visibilityLevels:[1240,1024,778,480],
						gridwidth:[1240,1024,778,480],
						gridheight:[868,768,960,720],
						lazyType:"single",
						parallax: {
							type:"scroll",
							origo:"slidercenter",
							speed:400,
							speedbg:0,
							speedls:0,
							levels:[5,10,15,20,25,30,35,40,45,46,47,48,49,50,51,55],
						},
						shadow:0,
						spinner:"spinner2",
						stopLoop:"on",
						stopAfterLoops:0,
						stopAtSlide:1,
						shuffle:"off",
						autoHeight:"off",
						fullScreenAutoWidth:"off",
						fullScreenAlignForce:"off",
						fullScreenOffsetContainer: '#ua-header-menu',
						fullScreenOffset: "",
						disableProgressBar:"on",
						hideThumbsOnMobile:"off",
						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						debugMode:false,
						fallbacks: {
							simplifyAll:"off",
							nextSlideOnWindowFocus:"off",
							disableFocusListener:false,
						}
					});

					RsParticlesAddOn(revealSlider);
    			RsRevealerAddOn(jQuery, revealSlider, "<div class='rsaddon-revealer-spinner rsaddon-revealer-spinner-1'><div class='rsaddon-revealer-1'><span style='background: \{{color}}'><\/span><span style='background: \{{color}}'><\/span><span style='background: \{{color}}'><\/span><span style='background: \{{color}}'><\/span><span style='background: \{{color}}'><\/span><span style='background: \{{color}}'><\/span><span style='background: \{{color}}'><\/span><span style='background: \{{color}}'><\/span><span style='background: \{{color}}'><\/span><span style='background: \{{color}}'><\/span><\/div><\/div \/>");
					{{/if}}
					
				});
</script>
